button{
    border-radius: 1rem;
    border-style: none;
    padding: 1rem;
    margin: 1rem;
    font-size: large;
    color: white;
}
#nahuatl{
    background-color: #7C9D3A;
}
#tenek{
    background-color: #CD3462;
}
#pame{
    background-color: #DC5E2C;
}