
#nahuatl{
    background-image: url("../img/btn_nahuatl.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-style: none;
    width: 30%;
    height: 3rem;
    display: inline-block;
    box-sizing: border-box;
}
#tenek{
    background-image: url("../img/btn_tenek.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-style: none;
    width: 30%;
    height: 3rem;
    display: inline-block;
    box-sizing: border-box;
}
#pame{
    background-image: url("../img/btn_xioi.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-style: none;
    width: 30%;
    height: 3rem;
    display: inline-block;
    box-sizing: border-box;
}

.btnCategoria{
    height: 6rem;
    margin-top: 2rem;
}

.botonCarrusel{
    background-color: #DC5E2C;
    padding: 1rem;
    margin: 2%;
    border-style: none;
    border-radius: 2rem;
    font-size: large;
    color: white;
}